.jumbotron {
	text-align:center;
}

.btn {
	float: right;
}

.red-background {
	background-color: #b6a2bb;
	transition: all 5s ease;
}

body {
	background-color: white;
	transition: all 3s ease;
}

.response{
	display: none;
	opacity: 0;
	width: 50%;
	margin-top: 100px;
	margin-left: 25%;
	margin-right:25%;
}

.next-response {
	opacity: 0;
}

.response-three {
	opacity: 0;
}

.response-four {
	opacity: 0;
}
