.jumbotron {
	text-align:center;
}

.btn {
	float: right;
}

.red-background {
	background-color: #b6a2bb;
	transition: all 5s ease;
}

body {
	background-color: white;
	transition: all 3s ease;
}

.container2 {
	width: 600px;
}
