.jumbotron {
	text-align:center;
}

.btn {
	float: right;
}

.background1 {
	background-color: #b6a2bb;
	transition: all 5s ease;
}

.background2 {
	background-color: #cee0dc;
	transition: all 1s ease;
}

.background3 {
	background-color: #dcedb9;
	transition: all 1s ease;
}

.background4 {
	background-color: #f6839c;
	transition: all 1s ease;
}

body {
	background-color: white;
	transition: all 3s ease;
}

.response{
	display: none;
	opacity: 0;
	width: 50%;
	margin-top: 100px;
	margin-left: 25%;
	margin-right:25%;
}

.next-response {
	opacity: 0;
}

.response-three {
	opacity: 0;
}

.response-four {
	opacity: 0;
}

.response-five {
	opacity: 0;
}

.response-six {
	opacity: 0;
}

.response-seven {
	opacity: 0;
}

.response-eight {
	opacity: 0;
}

.response-nine {
	opacity: 0;
}

.response-ten {
	opacity: 0;
}

.background1
